USE [master]
GO
/****** Object:  Database [Testoutside]    Script Date: 11/18/2020 7:38:28 PM ******/
CREATE DATABASE [Testoutside]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Testoutside', FILENAME = N'F:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\Testoutside.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Testoutside_log', FILENAME = N'F:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\Testoutside_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Testoutside].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Testoutside]
GO
/****** Object:  Table [dbo].[Info]    Script Date: 11/18/2020 7:38:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[age] [int] NOT NULL,
 CONSTRAINT [PK_Info] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Info] ON 

INSERT [dbo].[Info] ([id], [name], [age]) VALUES (1, N'Pham Quang Minh', 22)
INSERT [dbo].[Info] ([id], [name], [age]) VALUES (2, N'Le Vu Thu Ha', 22)
INSERT [dbo].[Info] ([id], [name], [age]) VALUES (3, N'Nguyen Hai Luu', 23)
SET IDENTITY_INSERT [dbo].[Info] OFF
GO
USE [master]
GO
