.box-right {
    /*position: absolute;*/
    right: 0px;
    border: 3px solid #73AD21;
    padding: 10px;
}
.imagelogo{
    text-align: center;
}
.logoImage {
    display: none;
}

@media (max-width: 700px) {
    .image {
        display: none;
    }

}

@media (max-width: 400px){
    .image{
        display: none;
    }
    .logoImagefront{
        display: none;
    }
    .logoImage{
       display:block;
    }

}

@media (max-width: 300px) {
    .image {
        display: none;
    }

    .logoImagefront {
        display: none;
    }

    .logoImage {
        display: block;
    }
}

